<div class="booyah-box col-10 offset-1">
  <h2>Tell us about your experiance!</h2>
  <%= simple_form_for @testimonials do |f| %>
    <%= f.input :name %>
    <%= f.input :message %>
    <br />
    <%= f.submit "Create", class: 'btn btn-primary' %>
    <br />
  <% end %>
</div>